*.class
*.log
.project
.classpath
.settings
.sonar
/bin
/target/
/project/project
/project/target
.idea/*
*.idea/
*.log
/deploy-*.zip
metastore_db/
*.db
**/target
Spark_Training/target
Spark_Training/app-logs
/.idea/
/.idea/libraries/
/output
/dataSink